*{margin: 0; padding: 0;}

html {
    margin-top: 2%;
}

body {
    color: #2c3e50;
    font-family: 'Roboto';
}

.left {
    margin-left: 1.5%;
    position: relative;
    float: left;
}

.right {
    margin-right: 1.5%;
    position: relative;
    float: right;
}

.titre {
    padding-top: 10%;
    text-align: center;
}

.credits {
    text-align: center;
}

.credits-a {
    color: #2980b9;
    text-decoration: none;
    font-size: 150%;
}

.center {
    text-align: center;
}

.center-titre {
    text-align: center;
    font-size: 150%;
}